.router-loader{
    width: 1000px;
    height: 10px;
    border-radius: 50px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;
}
.router-loader .router-loader-bar{
    width: 50px;
    height: 10px;
    border-radius: 50px;
    background-color: slateblue;
    position: absolute;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    0% {
        width: 50%;
        left: 0%;
    }
    100% {
        width: 100%;
        left: 100%;
    }
}